* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.my-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #242424, #131313);
  padding: 10px;
}

.contacts-app {
  width: 100%;
  padding: 30px 15px 30px;
  margin: 20px auto 20px;
  border-radius: 20px;
}

.contacts-container {
  padding-bottom: 120px;
}

.search-row {
  display: flex;
  max-width: 540px;
  background: #383838;
  border-radius: 30px;
  margin: 0px auto 0px;
}

.search-row input {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  flex: 1;
  margin-left: 15px;
}

button {
  border: none;
  padding: 15px;
  cursor: pointer;
}

.search-row button {
  background: rgb(19, 19, 19);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
}

#add-contact {
  background: transparent;
  color: #0d71fc;
  font-size: 18px;
  margin-top: 15px;
}

.add-form {
  display: grid;
  /* border: solid #0d71fc; */
  padding: 10px;
  border-radius: 15px;
  max-width: 540px;
  margin: auto;
}
.add-form input {
  background: #383838;
  color: white;
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  flex: 1;
  margin: 10px;
  height: 50px;
}
/* .add-form button {
  width: 65px;
  height: 65px;
}
.add-form button img {
  width: 24px;
  height: 24px;
} */
.add-form-buttons {
  margin: auto;
}
.add-form label {
  font-size: 14px;
  color: red;
  display: none;
}
#save-contact {
  background: #0d71fc;
  color: white;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  margin: 10px auto 10px;
  font-size: 18px;
  margin-top: 15px;
}
.favorited-container {
  display: none;
}
.contact {
  background: rgba(255, 255, 255, 0.15);
  margin: 20px 0px 5px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
}

.contact-texts {
  flex: 1;
  align-content: center;
  margin-left: 15px;
}
.contact-buttons {
  max-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.contact button {
  margin-bottom: 5px;
  padding: 10px;
  width: 25px;
  height: 25px;
}

.contact h2 {
  color: white;
  font-size: 25px;
  margin-bottom: 35px;
  cursor: pointer;
}

.contact h3 {
  color: rgb(185, 185, 185);
  margin-top: 25px;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}

.favorite-btn {
  background: transparent;
  background-image: url("./images/favorite-icon.svg");
  background-size: cover;
}

.edit-btn {
  background: transparent;
  background-image: url("./images/edit-icon.svg");
  background-size: cover;
}

.delete-btn {
  background: transparent;
  background-image: url("./images/delete-icon.svg");
  background-size: cover;
}

.favorite .favorite-btn {
  background-image: url("./images/filled-favorite.svg");
}

.tabs {
  background: #222222;
  position: fixed;
  bottom: 0;
  display: flex;
  min-width: 100%;
  padding: 35px;
  justify-content: space-evenly;
}

.contact-tab-button {
  background: transparent;
  background-image: url("./images/contacts-icon.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.contact-tab-button.active {
  background-color: #7e7e7e75;
  background-image: url("./images/filled-contacts.svg");
}

.favorite-tab-button {
  background: transparent;
  background-image: url("./images/favorite-icon.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.favorite-tab-button.active {
  background-color: #7e7e7e75;
  background-image: url("./images/filled-favorite.svg");
}

.history-tab-button {
  background: transparent;
  background-image: url("./images/history.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.history-tab-button.active {
  background-color: #7e7e7e75;
  background-image: url("./images/history.svg");
}
